h1, h2{
  color: #f7325e;
  text-align: center;
}
p{
  color:#e2480f;
  font-family: fantasy;
  font-style: normal;
  font-size: 23px;

}
img{
  display: block;
  margin: 0 auto;
}
body{
  background-color:#2bb3f2;
}
.popular{
  font-weight: bold;
  font-style: italic;
  color: #cc5d47;
  font-size: 24px;
}
.tropical{
  color: #2905aa;
  font-weight: bold;
  font-size: 24px;
}
ul{
  list-style-type: none;
  list-style-position: outside;
}
.nav{
  font-weight: bold;
  font-size: 23px;
}
